.search {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.search button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  justify-content: center;
}

.domain-list {
  margin-top: 20px;
  overflow-y: auto;
  height: 100vh;
}

.domain-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.domain-item {
  max-width: max-content;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.domain-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.error-message {
  text-align: center;
  color: white;
  background-color: red;
  padding: 10px;
  margin: 2rem auto;
  border-radius: 4px;
  max-width: fit-content;
}

/* Media query for screens with a width of 768 pixels or less */
@media (max-width: 768px) {
  .search {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .search input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    justify-content: center;
    max-width: 100%; /* Adjust to ensure full width on small screens */
  }
}
